* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #444;
  font-family: sans-serif;
  border-top: 4px solid #1098da;
  position: relative;
}
.container {
  width: 1200px;
  margin: 0 auto;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  /* margin-bottom: 60px; */
}
nav {
  font-size: 18px;
  text-align: center;
}
/* PSEUDO-ELEMENT */
h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}
h2::after {
  content: "TOP";
  background-color: #ffe70e;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -25px;
}

/* h3 + p::first-line {
  color: red;
} */
.post-header {
  margin-bottom: 40px;
}
aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 40px;
}

.post-img {
  width: 100%;
  height: auto;
  /* margin: 30px; */
}
nav a:link {
  margin-right: 30px;
  /* margin-top: 10px; */
  display: inline-block;
}
nav a:link:last-child {
  margin-right: 0;
}

h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444;
}
h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  font-style: italic;
  text-transform: uppercase;
  /* padding: 15px; */
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}
ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}
li {
  font-size: 20px;
  margin-bottom: 10px;
  /* padding: 10px 0; */
}

/*
article header p {
   font-size: 18px;
    font-style: italic;
}
*/
#laura {
  font-size: 18px;
  font-style: italic;
}

/*
footer {
    font-size: 16px;
} 
    */
#copyright {
  font-size: 16px;
}

.author {
  list-style: none;
  margin-left: 0;
}

.related-author {
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  /* margin-left: 15px; */
}

/*
.frist-li {
    font-weight: bold;
} 
    */

/*
    pseudo-class
    */
li:first-child {
  font-style: italic;
}
li:last-child {
  font-weight: bold;
  margin-bottom: 0;
}
/*
li:nth-child(even){
   color:red; 
}
   */
/*
article header p:nth-child(3){
    background-color: #ff0000;
 }
*/

/* STAYLING HYPERLINK */
/* LVHA */
a:link {
  color: #1098da;
  text-decoration: none;
}

a:visited {
  color: #1098da;
}

a:hover {
  color: #eb300f;
  font-weight: bold;
  text-decoration: underline #eb300f;
}

a:active {
  background-color: rgb(95, 84, 84);
  font-style: italic;
}

button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

/* FLOATS */

/* .laura-img {
  float: left;
  margin-bottom: 10px;
}
.laura {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}

h1 {
  float: left;
}

nav {
  float: right;
}

.clear {
  clear: both;
}

.clear-fix::after {
  clear: both;
  content: "";
  display: block;
}

article {
  width: 825px;
  float: left;
}

aside {
  width: 300px;
  float: right;
}

footer {
  clear: both;
} */

/* FLEXBOX */
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.laura-post {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.laura {
  margin-bottom: 0;
  margin-left: 15px;
}

.related-posts {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.related-link:link {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 5px;
  display: block;
}

.related-author {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
}

/* FLEXBOX LAYOUT/ */
/* .row {
  display: flex;
  align-items: flex-start;
  gap: 75px;
  margin-bottom: 60px;
}

article {
   flex: 0 0 825; 
  flex: 1;
  margin-bottom: 0;
}

aside {
  flex: 0 0 300px;
} */

/* CSS GRID LAYOUT */
.container {
  display: grid;
  grid-template-columns: 1fr 300px;
  column-gap: 75px;
  row-gap: 60px;
}

.main-header {
  grid-column: 1 / 3;
}

aside {
  align-self: start;
}
footer {
  /* grid-column: 1 / 3; */
  grid-column: 1 / span 2;
}
